@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap");

body {
  background-color: #191a19;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
}
h1 {
  font-size: 5em;
  margin-bottom: 0%;
}

h3 {
  font-size: 2em;
}
#start {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: white;
  font-size: 1.5em;
  font-family: "Alegreya Sans SC", sans-serif;
  box-shadow: 2px 2px 1px black;
}
.game-container {
  display: flex;
  flex-direction: row;
}
.square {
  width: 200px;
  height: 200px;
  border: 2px solid transparent;
  border-radius: 20px;
  pointer-events: auto;
}

.player-submit {
  padding: 10px;
  margin-top: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: white;
  font-size: 1.5em;
  font-family: "Alegreya Sans SC", sans-serif;
  box-shadow: 2px 2px 1px black;
}

#green {
  background: #486a47;
}

#red {
  background: #b33f40;
}

#yellow {
  background: #fed000;
}

#blue {
  background: #3b3e79;
}

.dark-mode {
  visibility: hidden;
  border: transparent;
  background-color: transparent;
}

.light-mode {
  visibility: visible;
  border: transparent;
  background-color: transparent;
}
